{% if fieldset.template_name %}
    {% include fieldset.template_name %}
{% else %}
    <fieldset>
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}
        {% for elm in fieldset %}
            {% if elm.is_fieldset %}
                {% include "admin/generic/form/form_row.html" with row=elm %}
            {% else %}
                <div class="form__row">
                    {% include field_template_name with field=elm %}
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
{% endif %}
