<div class="form__group{% if field.errors %} form__group--error{% endif %}">
    {% if field.errors %}
        <div class="form__error">
        {% for error in field.errors %}
            {{error}}<br>
        {% endfor %}
        </div>
    {% endif %}
    <div class="form__control form__control--text{% if field.field.required %} form__control--required{% endif %}">
        {{field}}
    </div>
    {% if field.help_text %}
    <div class="form__help">{{field.help_text|safe}}</div>
    {% endif %}
</div>