<tr>
    <td class="table-cell--checkbox">
        <input type="checkbox">
    </td>
    <td data-header="Job number" class="nowrap">D100</td>
    <td data-header="Status">
        <span class="label label--success">Active</span>
    </td>
    <td data-header="Contact">
        <a href="mailto:info@example.com">info@example.com</a>
    </td>
    <td data-header="Staff cost" class="nowrap">1,000</td>
    <td data-header="Expenses" class="nowrap">500</td>
    <td data-header="Total cost" class="nowrap">1,500</td>
    <td data-header="Budget" class="nowrap">2,000</td>
    <td data-header="Profit margin" class="nowrap">25%</td>
    <td data-header="Date Created" class="nowrap">Oct. 16, 2017, 5:50 p.m.</td>
    <td data-header="Action" class="text-right nowrap">
        <a class="btn btn--small btn--primary" href="/admin/file/14">View</a>
        <a class="btn btn--small btn--delete" href="/admin/file/14/delete">Delete</a>
    </td>
</tr>
