<table class="table table--clickable table--striped table--admin-mobile-view">
    <thead>
        <tr>
            <th class="nowrap">Job number</th>
            <th class="nowrap">Status</th>
            <th class="nowrap">Contact</th>
            <th class="nowrap">Staff cost</th>
            <th class="nowrap">Expenses</th>
            <th class="nowrap">Total cost</th>
            <th class="nowrap">Budget</th>
            <th class="nowrap">Profit margin</th>
            <th class="table-header--separator"></th>
            <th class="nowrap">Date created</th>
            <th class="text-right nowrap"><span class="sr-only">Actions</span></th>
        </tr>
    </thead>
    <tbody>
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
        {{> @table--row }}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><span class="text-micro text-uppercase">Total</span><br>1,000</th>
            <th><span class="text-micro text-uppercase">&nbsp;</span><br>500</th>
            <th><span class="text-micro text-uppercase">&nbsp;</span><br>1500</th>
            <th><span class="text-micro text-uppercase">&nbsp;</span><br>2000</th>
            <th><span class="text-micro text-uppercase">Average</span><br>25%</div></th>
            <th class="table-footer--separator"></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
