<tr>
    <td data-header="Job number" class="nowrap">
        <div class="table-cell-editable">
            <div class="table-cell-editable__value">
                D100
            </div>
            <button type="button" class="table-cell-editable__action table-cell-editable__action--edit">
                <span class="fa fa-pen"></span>
            </button>
        </div>
    </td>
    <td data-header="Status">
        <div class="table-cell-editable">
            <div class="form__group">
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="status" value="" placeholder="Status">
                </div>
            </div>
            <button type="button" class="table-cell-editable__action table-cell-editable__action--save">
                <span class="fa fa-check"></span>
            </button>
            <button type="button" class="table-cell-editable__action table-cell-editable__action--cancel">
                <span class="fa fa-times"></span>
            </button>
        </div>
    </td>
    <td data-header="Contact">
        <div class="table-cell-editable">
            <div class="form__group">
                <div class="form__control form__control--select">
                    <select class="form__select">
                        <option class="">Action</option>
                        <option class="A">Move to deleted</option>
                        <option class="B">Mark as archived</option>
                        <option class="C">Mark as Pending</option>
                    </select>
                </div>
            </div>
            <button type="button" class="table-cell-editable__action table-cell-editable__action--save">
                <span class="fa fa-check"></span>
            </button>
            <button type="button" class="table-cell-editable__action table-cell-editable__action--cancel">
                <span class="fa fa-times"></span>
            </button>
        </div>
    </td>
    <td data-header="Staff cost" class="nowrap">1,000</td>
    <td data-header="Expenses" class="nowrap">500</td>
    <td data-header="Total cost" class="nowrap">1,500</td>
    <td data-header="Budget" class="nowrap">2,000</td>
    <td data-header="Profit margin" class="nowrap">25%</td>
    <td data-header="Date Created" class="nowrap">Oct. 16, 2017, 5:50 p.m.</td>
    <td data-header="Action" class="text-right nowrap">
        <a class="btn btn--small btn--primary" href="/admin/file/14">View</a>
        <a class="btn btn--small btn--delete" href="/admin/file/14/delete">Delete</a>
    </td>
</tr>
