<div class="form__group{{form_group_class}}">
    <label class="form__label">{{label}}</label>
    <div class="form__control form__control--select">
        <select class="form__select"{{input_attributes}}>
            <option class="M">Male</option>
            <option class="F">Female</option>
            <option class="X">Prefer not to say</option>
            <option class="X">A very long option to test text overflow</option>
        </select>
    </div>
    <div class="form__help">{{help}}</div>
</div>
