<div class="pagination"><a class="pagination__link pagination__link--previous" href="?page=1">previous</a> <span class="pagination__link pagination__link--current">Page 2 of 3</span> <a class="pagination__link pagination__link--next" href="?page=3">next</a></div>
