<div class="content__foot-left">
    <a class="btn btn--link" href="?page=1">
        <span class="fa fa-chevron-left"></span>
    </a>
    Page 2 of 3
    <a class="btn btn--link" href="?page=3">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>
