<div class="alert alert--warning">
    <span class="label label--warning"><span class="fa fa-exclamation-triangle"></span> Warning!</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
