<div class="alert alert--error">
    Error <span class="label label--danger"><span class="fa fa-check"></span> Label</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
