<div class="alert alert--success">
    <span class="label label--success"><span class="fa fa-check"></span> Success</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
