<div class="alert alert--error">
    <span class="label label--danger"><span class="fa fa-times"></span> Error</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
