<div class="alert alert--success">
    Success <span class="label label--success"><span class="fa fa-check"></span> Label</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
