<div class="alert {{class}}">
    Information
    <span class="label label--primary"><span class="fa fa-check"></span> Label</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
