<div class="alert alert--warning">
    Warning! <span class="label label--warning"><span class="fa fa-check"></span> Label</span>
    <a class="pull-right" href="">Link <span class="fa fa-arrow-right"></span></a>
</div>
