<div class="alert alert--error">
    <span class="label label--danger"><span class="fa fa-check"></span> Label</span>
    <a class="pull-right" href="/admin/cms/page/1/unpublish/">Link <span class="fa fa-arrow-right"></span></a>
</div>
