<div class="content__toolbar">
    <div class="content__filter content-filter form--animate">
        <div class="content-filter__item content-filter__item--wide">
            <div class="form__group form__group--boxed form__group--boxed">
                <div class="form__control form__control--select control-select control-select--focus">
                    <input type="text" class="form__select" id="id_type" name="type_selector" placeholder="Start typing to filter..." value="45">
                    <div class="control-select__options">
                        <div class="control-select__option control-select__option--focused control-select-option" tabindex="0">
                            <span class="label control-select-option__label control-select-option__label--4">
                                Lens Model
                            </span>
                            <span>
                                Angenieux Optimo <span class="control-select-option__highlight">45</span>-120mm
                                T2.8 Zoom
                            </span>
                        </div>
                        <div class="control-select__option control-select__option--selected control-select-option" tabindex="0">
                            <span class="label control-select-option__label control-select-option__label--4">
                                Lens Model
                            </span>
                            <span>
                                Angenieux Optimo <span class="control-select-option__highlight">45</span>-120mm
                                T2.8 Zoom
                            </span>
                        </div>
                        <div class="control-select__option control-select-option" tabindex="0">
                            <span class="label control-select-option__label control-select-option__label--8">
                                Vendor Name
                            </span>
                            <span>
                                Billy Coughlin
                                <span class="control-select-option__meta">
                                    <span class="label control-select-option__label">
                                        Phone Number
                                    </span>
                                    <span>317.490.<span class="control-select-option__highlight">45</span>45</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
