<div class="content__head">
    <div class="content__inner content-head">
        <div class="content-head__title">
            <a href="" class="btn btn--link tooltip tooltip--bottom-center">
                <span class="fa fa-list"></span>
            </a>
            Page Title
        </div>
        <div class="content-head__actions">
            <a href="" class="btn btn--link">
                <span class="fa fa-pen"></span>
            </a>
            <a href="" class="btn btn--link">
                <span class="fa fa-trash"></span>
            </a>
        </div>
    </div>
</div>
