<div class="content__toolbar">
    <div class="content__filter content-filter form--animate">
        <div class="content-filter__item">
            <div class="form__group form__group--boxed">
                <div class="form__control form__control--select">
                    <select class="form__select">
                        <option class="">Action</option>
                        <option class="A">Move to deleted</option>
                        <option class="B">Mark as archived</option>
                        <option class="C">Mark as Pending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="content-filter__item">
            <button class="btn btn--outline btn--light">Go</button>
        </div>
        <div class="content-filter__item">
            <button class="btn btn--outline btn--light btn--primary">Archive</button>
        </div>
        <div class="content-filter__item">
            <button class="btn btn--outline btn--light btn--delete">Delete</button>
        </div>
    </div>
    <div class="content__actions">
        <button class="btn btn--outline btn--light btn--small toggle-sidebar">
            <span class="fa fa-sync-alt"></span>
        </button>
        <button class="btn btn--outline btn--light btn--small toggle-sidebar">
            <span class="fa fa-filter"></span>
        </button>
    </div>
</div>
