<div class="content__toolbar">
    <div class="content__filter">
        <div class="content-filter__item">
            <button class="btn btn--outline">Cancel</button>
        </div>
        <div class="content-filter__item">
            <button class="btn btn--outline btn--delete">Delete</button>
        </div>
    </div>
</div>
