<div class="content__sidebar">
    <form action="" class="form--animate">
        <fieldset>
            <div class="form__legend">
                Filter
                <button type="button" class="btn btn--link btn--small toggle-sidebar">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="form__row">
                {{ render '@text' }}
            </div>
            <div class="form__row">
                {{ render '@select' }}
            </div>
        </fieldset>
    </form>
</div>
