<div class="content__foot">
    {{> @pagination }}
    <div class="content__actions">
        <button class="btn btn--outline  btn--small">
            <span class="fa fa-file-alt"></span>
            CSV
        </button>
        <button class="btn btn--outline  btn--small">
            <span class="fa fa-file-pdf"></span>
            PDF
        </button>
    </div>
</div>
