<div class="content__toolbar">
    <div class="content__filter content-filter form--animate">
        <div class="content-filter__item">
            <div class="form__group form__group--boxed">
                <label for="search" class="form__label">Search 123</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="q" value="" placeholder="Search">
                    <div class="input-addon input-addon--suffix">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-filter__item">
            <div class="form__group">
                <label for="check">
                    <input type="checkbox" name="check">
                    Exclude Z jobs
                </label>
            </div>
        </div>
    </div>
    <div class="content__actions">
        <button class="btn btn--outline btn--small toggle-sidebar" type="button">
            <i class="fa fa-sync-alt"></i>
        </button>
        <button class="btn btn--outline btn--small toggle-sidebar" type="button">
            <i class="fa fa-filter"></i>
        </button>
    </div>
</div>
