<div class="content__head">
    <div class="content__inner content-head">
        <div class="content-head__title">
            Finance
        </div>
        <div class="content-head__actions">
            <button class="btn btn--outline btn--light btn--small">
                <span class="fa fa-columns"></span>
            </button>
            <button class="btn btn--outline btn--light btn--small">
                <span class="fa fa-table"></span>
            </button>
            <button class="btn btn--outline btn--light btn--small">
                <span class="fa fa-list"></span>
            </button>
        </div>
    </div>
    {{> @content-tabs }}
</div>
