<div class="content__foot">
    <div class="content__inner content-foot">
        <div class="content-foot__left">
            <button class="btn btn--outline btn--delete">Delete</button>
        </div>
        <div class="content-foot__right">
            <button class="btn btn--outline">Cancel</button>
        </div>
    </div>
</div>
