<div class="content__sidebar">
    <form action="" class="form--animate">
        <fieldset>
            <div class="form__legend">
                Filter
                <button type="button" class="btn btn--link btn--small toggle-sidebar">
                    <span class="fa fa-times"></span>
                </button>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Job number</label>
                    <div class="form__control form__control--input">
                        <input type="text" name="first_name" placeholder="Frank Green">
                    </div>
                    <div class="form__help"></div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Status</label>
                    <div class="form__control form__control--select">
                        <select class="form__select">
                            <option class=""></option>
                            <option class="A">Active</option>
                            <option class="B">Archived</option>
                            <option class="C">Pending</option>
                        </select>
                    </div>
                    <div class="form__help"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
