<div class="content__foot">
    <div class="content__inner content-foot">
        <div class="content-foot__left">
            {{> @pagination }}
        </div>
        <div class="content-foot__right">
            <button class="btn btn--outline btn--light btn--small">
                <span class="fa fa-file-alt"></span>
                CSV
            </button>
            <button class="btn btn--outline btn--light btn--small">
                <span class="fa fa-file-pdf"></span>
                PDF
            </button>
        </div>
    </div>
</div>
