$content-head-height: 5rem;
$content-toolbar-height: 4.5rem;
$content-foot-height: 3.5rem;
$content-padding: $padding;

.content {
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    &--sticky {
        overflow-y: hidden;

        .content__body {
            height: calc(100% - #{$content-head-height + $content-toolbar-height + $content-foot-height} - 1px);
            overflow-x: hidden;
            overflow-y: scroll;
            position: relative;
        }

        .content__list {
            height: 100%;
            overflow-x: auto;
            overflow-y: auto;
            width: 100%;

            @media screen and (min-width: $menu-breakpoint) {
                position: absolute;
            }
        }

        .content__foot {
            background-color: $toolbar-background-color;
            border-top: 1px solid $table-row-border-color;
        }
    }

    &__head {
        background-color: #fff;
        border-bottom: 1px solid $toolbar_border_color;

        .content__inner {
            padding-left: $content-padding;
            padding-right: $content-padding;
        }
    }

    &__toolbar {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: $content-toolbar-height;
        justify-content: space-between;
        padding: 0 $content-padding;
        position: relative;
        z-index: 5;
    }

    &__body {
        @media screen and (max-width: $menu-breakpoint-max) {
            flex: 1;
        }

        &--sidebar {
            .content__list {
                width: calc(100% - #{$menu_sidebar_width});
            }

            .content__sidebar {
                transform: translate(0);
            }
        }

        fieldset {
           margin: ($content-padding * 2) 0;
        }
    }

    &__foot {
        // UH OH more Sticky!
        position: -webkit-sticky;
        position: sticky;
        z-index: 4;

        &--sticky {
            background-color: $toolbar-background-color;
            border-top: 1px solid $table-row-border-color;
            bottom: -1px;
        }
    }

    &__list {
        border-top: 1px solid $table-row-border-color;
        transition: width $animation-speed ease;
    }

    &__sidebar {
        background-color: #fff;
        border-top: 1px solid $table-row-border-color;
        border-left: 1px solid $table-row-border-color;
        height: 100%;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate($menu_sidebar_width);
        transition: transform $animation-speed ease;
        user-select: none;
        width: $menu_sidebar_width;
        z-index: 4; // To bring sidebar above table head

        fieldset {
            border-width: 0;
            margin: 0;
        }

        .toggle-sidebar {
            float: right;
        }
    }

    &__filter {
        align-items: center;
        display: flex;
        flex: 1;

        // No need pushing when we have a button after
        .form__group {
            margin: 0;

            .form__help {
                display: none;
            }
        }
    }

    &__actions {
        .btn {
            margin-left: 0.5rem;
        }
    }
}

.content-filter {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 0.5rem;

        &--wide {
            flex: 1;
        }
    }
}

.content-head {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: relative;
    padding-top: $padding / 2;
    padding-bottom: $padding / 2;
    width: 100%;

    @media screen and (min-width: $menu-breakpoint) {
        height: $content-head-height;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__title {
        @include font_size($font_size--emphasis);
        justify-self: flex-start;
    }

    &__actions {
        justify-self: flex-end;

        .btn {
            margin-left: 0.5rem;
        }
    }

    .back-to-list {
        position: relative;
        top: -1px;
    }
}

.content-foot {
    align-items: center;
    display: flex;
    height: $content-foot-height;
    justify-content: space-between;
    padding-left: $content-padding;
    padding-right: $content-padding;
    width: 100%;

    &__left {
        justify-self: flex-start;

        .btn {
            margin-right: 0.5rem;
        }
    }

    &__right {
        justify-self: flex-end;

        .btn {
            margin-left: 0.5rem;
        }
    }
}

body.content--centered {
    .content__inner {
        margin: auto;
        max-width: $laptop-width;
        padding-left: $content-padding;
        padding-right: $content-padding;
        width: 100%;
    }

    .content__body {
        .content__inner {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .content__toolbar {
        margin: auto;
        max-width: $laptop-width;
        padding-left: $content-padding;
        padding-right: $content-padding;
        width: 100%;
    }

    .content__list {
        border-left: 1px solid $table-row-border-color;
        border-right: 1px solid $table-row-border-color;
        width: calc(100% - (#{$content-padding} * 2));
    }

    .content__body--sidebar .content__list {
        // full width - sidebar width - padding + Avoid double border
        width: calc(100% - #{$menu_sidebar_width} - #{$content-padding} + 1px);
    }

    .content__sidebar {
        border-right: 1px solid $table-row-border-color;
        right: $content-padding;
        width: calc(#{$menu_sidebar_width} - #{$content-padding});
    }
}

body.content--padded {
    .content__inner {
        padding-left: $content-padding;
        padding-right: $content-padding;
    }

    .content--sticky .content__list {
        width: calc(100% - (#{$content-padding} * 2));
    }

    .content__body {
        .content__inner {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        &--sidebar {
            .content__list {
                // full width - sidebar width - padding + Avoid double border
                width: calc(100% - #{$menu_sidebar_width} - (#{$content-padding} * 2) + 1px);
            }

            .content__sidebar {
                right: $content-padding;
                border-right: 1px solid $table-row-border-color;
            }
        }
    }

    .content__list {
        border-left: 1px solid $table-row-border-color;
        border-right: 1px solid $table-row-border-color;
    }
}
