body{
    &.content-centered{
        .content__list,
        .content__detail,
        .content__delete,
        .form {
            max-width: $laptop_width;
            padding-left: $horizontal_padding;
            padding-right: $horizontal_padding;
            margin-left: auto;
            margin-right: auto;
        }

        .head-bar{
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: $mobile-width) {
            .form__actions-inner {
                padding: $vertical_padding 0;
            }
        }
    }
}

.content{
    &__inner{
        padding: 0 $horizontal_padding;
    }
    &__list{
        overflow-x: scroll;
        margin: $vertical_padding $horizontal_padding;
    }
    &__detail{
    }
    &__delete{
    }
}

.messages{
    margin-top: $vertical_padding;
}

.pagination{
    padding: $vertical_padding 0;

    &__link{
        display: block;
        float: left;
        border: 1px solid lighten($grey--medium, 10%);
        padding: 0 $vertical_padding;
        font-size: 1em;
        line-height: 2em;
        text-transform: uppercase;
        &--current{

        }
        &--previous{
            border-right: none;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            background-color: $grey--light;
            color: $font_color;
            &:hover{
                background-color: darken($grey--light, 10%);
            }
        }
        &--next{
            border-left: none;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            background-color: $grey--light;
            color: $font_color;
            &:hover{
                background-color: darken($grey--light, 10%);
            }
        }
    }
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}


