.content {
    &__head {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: #fff;
    }
    &__toolbar {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    &__body {
        height: calc(100vh - 11rem);
        position: relative;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
    }
    &__foot {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: #fff;
    }

    &__title {
        @include font_size($font_size--medium);
    }

    &__list {
        height: 100%;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        position: absolute;
        transition: width $animation-speed ease;
    }

    &__sidebar {
        height: 100%;
        top: 0;
        overflow-y: auto;
        width: calc(16rem);
        position: absolute;
        right: 0rem;
        transform: translate(16rem);
        transition: transform $animation-speed ease;
        background-color: #fff;
        border-left: 1px solid $table-border-color;

        fieldset {
            border-width: 0;

            legend {
                border-width: 0;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &--sidebar {
        .content__list {
            width: calc(100% - 16rem);
        }
        .content__sidebar {
            transform: translate(0);
        }
    }
}
