.form {
    &__legend {
        padding: 1rem 1rem;
        border-bottom: 1px solid $table-row-border-color;
        font-weight: 500;
        padding-bottom: calc(1rem - 1px);
        background-color: $table-header-background-color;
    }
}

.fieldset-actions {
    padding: 1rem;
    border-top: 1px solid $input_border_color;
    background-color: $toolbar-background-color;
    clear: both;
}

fieldset {
    &.table-view {
        .table {
            tr {
                &:last-child {
                    tr, td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
