$toolbar-height: 4rem; // Toolbar height

body {
    // Content has bg-color but doesnt always extend full height
    background-color: #f7f8fb;
}

.layout {
    display: none;

    &__menu {
        width: 100%;
        z-index: 6;

        @media screen and (max-width: $menu-breakpoint-max) {
            // Fixed header on mobile
            height: $menu_header_height;
            position: fixed;
            top: 0;
            z-index: 10;
        }

        @media screen and (min-width: $menu-breakpoint) {
            width: $menu-width;
            min-height: 100vh;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;

        @media screen and (max-width: $menu-breakpoint-max) {
            padding-top: $menu_header_height; // To allow for mobile fixed header height
        }

        @media screen and (min-width: $menu-breakpoint) {
            height: 100vh;
            left: $menu-width;
            position: fixed;
            top: 0;
            transition: left $animation-speed ease, width $animation-speed ease;
            width: calc(100vw - #{$menu-width});
        }
    }

    &__toolbar {
        @media screen and (min-width: $menu-breakpoint) {
            height: $toolbar-height;
            position: relative;
            z-index: 2;
        }
    }

    &__content {
        flex: 1;
        overflow-y: scroll;

        @media screen and (min-width: $menu-breakpoint) {
            overflow-y: scroll;
            position: relative;
            z-index: 1;
        }
    }
}

.layout-panel {
    display: flex;
    flex-direction: column;

    &__item {
        flex: 1;
    }
}

body.menu--sidebar-collapse {
    .layout__main {
        @media screen and (min-width: $menu-breakpoint) {
            left: $toolbar_height;
            width: calc(100vw - #{$toolbar_height});
        }
    }
}
