$toolbar-height: 4rem; // Toolbar height

.layout {
    &__menu {
        @media screen and (min-width: $menu-breakpoint) {
            width: $menu-width;
            min-height: 100vh;
            position: fixed;
            z-index: 3;
        }
    }
    &__toolbar {
        @media screen and (min-width: $menu-breakpoint) {
            position: fixed;
            top: 0;
            left: $menu-width;
            height: $toolbar-height;
            width: calc(100vw - #{$menu-width});
            z-index: 2;
        }
    }
    &__content {
        @media screen and (min-width: $menu-breakpoint) {
            position: fixed;
            top: $toolbar-height;
            left: $menu-width;
            width: calc(100vw - #{$menu-width});
            height: calc(100vh - #{$toolbar-height});
            overflow: scroll;
            z-index: 1;
        }
    }
}

.layout-panel {
    display: flex;
    flex-direction: column;

    &__item {
        flex: 1;
    }
}
