body {
    background-color: $body-background-color;
}

.layout {
    &__menu {
        @media screen and (min-width: $menu-breakpoint) {
            width: $menu-width;
            min-height: 100%;
            position: fixed;
            z-index: 3;
        }
    }
    &__toolbar {
        @media screen and (min-width: $menu-breakpoint) {
            position: fixed;
            top: 0;
            left: $menu-width;
            height: $toolbar-height;
            width: calc(100% - #{$menu-width});
            z-index: 2;
        }
    }
    &__content {
        @media screen and (min-width: $menu-breakpoint) {
            position: fixed;
            top: $toolbar-height;
            left: $menu-width;
            width: calc(100% - #{$menu-width});
            height: calc(100% - #{$toolbar-height});
            overflow: scroll;
            z-index: 1;

            .content__body {
                height: calc(100vh - 11.5rem - #{$toolbar-height});
            }
        }
    }
}
