
$menu_sidebar_width: $menu-width;
$menu_subnav_min_width: 180px;
$menu_header_height: 4rem;

$menu_background_color: #00213E;
$menu_background_color_mobile: #00213E;
$menu_home_background_color: #00213E;
$menu_border_color: $grey--medium;
$menu_link_color: #fff;
$menu_link_background_color: transparent;
$menu_link_background_color_hover: lighten(#00213E, 12%);
$menu_link_background_color_hover_mobile: transparent;
$menu_link_background_color_active: lighten(#00213E, 6%);
$menu_link_background_color_active_mobile: lighten(#00213E, 6%);
$menu_background_color_section: desaturate(lighten($menu_background_color, 30%), 30%);

// New //
.menu-header,
.menu-footer {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: $menu_sidebar_width;
}

.menu-header {
    border-bottom: 1px solid $menu_border_color;

    @media screen and (min-width: $laptop-width) {
        position: fixed;
        top: 0;
    }

    &__logo {
        height: auto;
        max-height: 2rem;
        max-width: $menu_sidebar_width * 0.5;
        width: auto;
    }
}

.menu-footer {
    border-top: 1px solid $menu_border_color;
    display: none;

    @media screen and (min-width: $laptop-width) {
        bottom: 0;
        display: flex;
        left: 0;
        position: fixed;
        right: 0;
        width: $menu_sidebar_width;
    }

    &__text {
        @include font-size($font_size--small);
    }

    &__list {
        padding-left: 0;
    }
}


body {
    &.menu--sidebar {
        .menu-item {
            float: none;
        }

        .menu-item__link {
            align-items: center;
            display: flex;
            justify-content: flex-start;

        }

        .menu-item__link-icon {
            align-items: center;
            display: flex;
            height: 1rem;
            justify-content: center;
            margin-right: $horizontal_padding;
            width: 1rem;
        }

        // .menu-item__link--drop-arrow:after {
        //     margin-top: -3px;
        //     position: absolute;
        //     right: $horizontal_padding;
        //     top: 50%;
        // }

        // .menu__item--sub-nav {
        //     &:hover {
        //         .menu__sub-nav {
        //             display: block;
        //             max-height: 500px;
        //         }
        //     }
        // }

        // .menu__sub-nav {
        //     background-color: $menu_link_background_color_active;
        //     background-color: var(--menu_link_background_color_active, $menu_link_background_color_active);
        //     display: block;
        //     max-height: 0;
        //     overflow: hidden;
        //     position: static;
        //     transition: max-height $animation-speed ease;
        // }
    }

    // Collapse
    &.menu--sidebar-collapse {
        @media screen and (min-width: $laptop-width) {
            .menu {
                &__header {
                    height: auto;
                }

                &__container {
                    padding-top: 0 !important;
                }
            }

            .menu-header,
            .menu-footer {
                padding: 0;
                width: $toolbar_height;
            }

            .menu-header {
                padding: 0;
                position: relative;

                &__logo {
                    display: none;
                }
            }

            .menu {
                width: $toolbar_height;
            }

            .menu-item__link {
                justify-content: center;
                width: $toolbar_height;
            }

            .menu-item__link-icon {
                margin-right: 0;
            }

            .menu-item__link-text {
                display: none;
            }

            .menu-item__link--drop-arrow:after {
                content: none;
            }

            .menu__item--sidebar-collapse {
                display: none;
                width: $toolbar_height;
            }

            .menu__item--sidebar-expand {
                display: block;
                width: $toolbar_height;
            }

            .menu-item--home {
                width: $toolbar_height;

                .menu-item__link-icon {
                    display: block;
                }
            }

            .menu-footer {
                position: relative;
                width: $toolbar_height;

                &__text {
                    display: none;
                }
            }
        }
    }

    // Not collapse
    &:not(.menu--sidebar-collapse) {
        @media screen and (min-width: $laptop-width) {
            .menu {
                height: 100%;
                left: 0;
                padding-bottom: $toolbar_height;
                position: fixed;
                top: 0;
                transition: width $animation-speed ease;
                width: $menu_sidebar_width;
                z-index: 2;

                &__header {
                    height: $menu_header_height;
                }

                &__footer {
                    height: $content-foot-height;
                }

                &__container {
                    padding-top: $menu_header_height !important;
                }
            }

            .menu__item--sidebar-collapse {
                display: block;
            }

            .menu__item--sidebar-expand {
                display: none;
            }
        }

        .menu-header,
        .menu-footer {
            .menu-item__link {
                padding: 0;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}
