
$menu_subnav_min_width: 180px;

$menu_background_color: #00213E;
$menu_background_color_mobile: #00213E;
$menu_home_background_color: #00213E;
$menu_border_color: $grey--medium;
$menu_link_color: #fff;
$menu_link_color_hover: #fff;
$menu_link_background_color: transparent;
$menu_link_background_color_hover: lighten(#00213E, 12%);
$menu_link_background_color_hover_mobile: transparent;
$menu_link_background_color_active: lighten(#00213E, 6%);
$menu_link_background_color_active_mobile: lighten(#00213E, 6%);
$menu_background_color_section: desaturate(lighten($menu_background_color, 30%), 30%);
$menu_padding: $padding;

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width $animation-speed ease;

    &__container {
        flex: 1;
        overflow-y: scroll;
    }
}

.menu-header,
.menu-footer {
    align-items: center;
    background: inherit;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: $menu_padding;
    width: 100%;
}

.menu-header {
    border-bottom: 1px solid $menu_border_color;
    border-bottom: 1px solid var(--menu_border_color, $menu_border_color);

    &__logo {
        height: auto;
        max-height: 2rem;
        max-width: $menu_sidebar_width * 0.5;
    }
}

.menu-footer {
    border-top: 1px solid $menu_border_color;
    border-top: 1px solid var(--menu_border_color, $menu_border_color);
    display: none;

    @media screen and (min-width: $menu-breakpoint) {
        display: flex;
        width: 100%;
    }

    &__text {
        @include font-size($font_size--small);

        color: $menu_link_color;
        color: var(--menu_link_color, $menu_link_color);
        opacity: 0.5;
        transition: opacity $animation-speed ease;


        &:hover {
            opacity: 1;
        }
    }

    &__list {
        padding-left: 0;
    }
}


body {
    .menu-item {
        float: none;
        // font-size: 90%; Removed after reucing base font size for mobile in general

        &:hover {
            background: none;
        }

        &__link {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            padding: ($menu_padding * 0.75) $menu_padding;
            transition:
                background $animation-speed--fast ease,
                color $animation-speed--fast ease;

            &:hover,
            &:focus {
                background: rgba(255, 255, 255, 0.1);
                color: $menu_link_color_hover;
                outline: none;
            }
        }

        &__link-icon {
            align-items: center;
            display: flex;
            height: 1rem;
            justify-content: center;
            margin-right: $horizontal_padding;
            width: 1rem;
        }
    }

    .menu__item {
        float: none;

        &--close {
            padding: 0; //  Remove padding as padding is on link

            .menu-item__link {
                justify-content: flex-end;
                padding: $menu_padding * 1.5;
            }
        }
    }

    // Collapse
    &.menu--sidebar-collapse {
        @media screen and (min-width: $menu-breakpoint) {
            .menu {
                width: $menu_collapse_width;

                &__header {
                    height: auto;
                }

                &__container {
                    padding-top: 0 !important;
                }
            }

            .menu-header,
            .menu-footer {
                padding: 0;
                width: 100%;
            }

            .menu-header {
                padding: 0;
                position: relative;

                &__logo {
                    display: none;
                }
            }

            .menu-category {
                &__title,
                &__subtitle {
                    display: none;
                }

                &__toggle {
                    text-align: center;
                }

                &__close-icon {
                    display: none;
                }
            }

            .menu-item {
                &__link {
                    justify-content: center;
                    width: 100%;
                }

                &__link-icon {
                    margin-right: 0;
                }

                &__link-text {
                    display: none;
                }

                &__link--drop-arrow::after {
                    content: none;
                }

                &--home {
                    .menu-item__link-icon {
                        display: block;
                    }
                }
            }

            .menu__item {
                &--sidebar-collapse {
                    display: none;
                }

                &--sidebar-expand {
                    display: block;
                }
            }

            .menu-footer {
                position: relative;

                &__list {
                    width: 100%;
                }

                &__text {
                    display: none;
                }
            }
        }
    }

    // Not collapse
    &:not(.menu--sidebar-collapse) {
        @media screen and (min-width: $menu-breakpoint) {
            .menu {
                height: 100vh;
                width: $menu_sidebar_width;
                z-index: 2;

                &__header {
                    height: $menu_header_height;
                }

                &__footer {
                    height: $content-foot-height;
                }

                &__item {
                    &--sidebar-collapse {
                        display: block;
                    }

                    &--sidebar-expand {
                        display: none;
                    }
                }
            }

            .menu-category {
                &__summary-icon {
                    display: none;
                }
            }
        }

        .menu-header,
        .menu-footer {
            .menu-item__link {
                padding: $menu_padding / 2;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

.menu-category {
    border-bottom: 1px solid $menu_border_color;
    border-bottom: 1px solid var(--menu_border_color, $menu_border_color);
    display: block;
    min-height: 4rem;
    transition: background $animation-speed ease;

    &--open,
    &--open:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &__toggle {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        display: block;
        font: inherit;
        outline: none;
        padding: ($menu_padding * 0.667) $menu_padding;
        position: relative;
        text-align: left;
        width: 100%;

        &::before {
            content: '';
            height: calc(100% + (0.667em * 2));
            left: 0;
            position: absolute;
            right: 0;
            top: -2px;
            transition:
                background $animation-speed--fast ease 0.5s,
                height $animation-speed--fast ease 0.5s;
            width: 100%;

            .menu-category--open & {
                height: 100%;
                transition-delay: 0s;
            }
        }

        &:focus,
        &:hover {
            &::before {
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }

    &__title,
    &__subtitle {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__subtitle {
        @include font-size($font_size--small);

        color: $menu_link_color;
        font-weight: normal;
        opacity: 0.8;
        position: absolute;
        transition: opacity 0.25s ease 0.5s;
        width: calc(100% - (#{$menu_padding} * 2));

        .menu-category--open & {
            opacity: 0;
            transition: none;
        }
    }

    &__summary-icon {
        display: none;

        @media screen and (min-width: $menu-breakpoint) {
            display: block;
        }
    }

    &__close-icon {
        float: right;
        opacity: 0;
        transform: rotate(0deg);
        transition:
            opacity $animation-speed--slow ease,
            transform $animation-speed ease;

        .menu-category--open > .menu-category__toggle:hover & {
            opacity: 1;
        }

        .menu-category--open & {
            transform: rotate(180deg);
        }
    }

    &__list {
        max-height: 0px;
        overflow: hidden;
        padding-left: 0;
        transition: max-height 0.75s ease;

        .menu-category--open & {
            max-height: 500px;
        }
    }
}
