@keyframes disappear {
    from {
        top: 2rem;
        opacity: 1;
    }
    to {
        top: -10px;
        opacity: 0;
    }
}

.messages {
    position: fixed;
    top: 2rem;
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: disappear $animation-speed ease 5s forwards;

    .alert {
        max-width: $laptop-width;
    }
}
