$link-size: 1.75rem;

.pagination {
    @media screen and (min-width: $tablet-width) {
        align-items: center;
        display: flex;
    }

    &__subsection {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0.25rem;
        text-align: center;

        @media screen and (min-width: $tablet-width) {
            margin: 0 $padding / 2;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @media screen and (min-width: $laptop-width) {
            margin: 0 $padding;
        }
    }

    &__link {
        @include font-size($font_size--small);

        align-items: center;
        background-color: transparent;
        border: 1px solid $grey--light;
        border-radius: 50%;
        color: $grey;
        cursor: pointer;
        display: inline-flex;
        // font-size: inherit;
        height: $link-size;
        justify-content: center;
        min-width: $link-size;
        padding: 0;
        text-align: center;
        transition:
            background-color $animation-speed ease,
            color $animation-speed ease;
        width: $link-size;

        &--prev {
            margin-right: $padding;

            .pagination__icon {
                margin-left: -1px;
            }
        }

        &--next {
            margin-left: $padding;
        }

        &:hover {
            background-color: $grey;
            border-color: $grey;
            color: #fff;
        }
    }
}

.result-count-form {
    .form__group {
        align-items: center;
        display: flex;
        margin-bottom: 0;
    }

    &__label {
        margin-right: $padding / 2;
    }
}
