$link-size: 1.75rem;

.pagination {
    @media screen and (min-width: $tablet-width) {
        align-items: center;
        display: flex;
    }

    &__subsection {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0.25rem;
        text-align: center;

        @media screen and (min-width: $tablet-width) {
            margin: 0 0.5rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @media screen and (min-width: $laptop-width) {
            margin: 0 1rem;
        }
    }

    &__link {
        align-content: center;
        background-color: transparent;
        border: 1px solid $grey--light;
        border-radius: 50%;
        color: $grey;
        cursor: pointer;
        display: inline-flex;
        height: $link-size;
        justify-content: center;
        min-width: $link-size;
        padding: 0;
        text-align: center;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
        width: $link-size;

        &--prev {
            margin-right: 1rem;
        }

        &--next {
            margin-left: 1rem;
        }

        &:hover {
            background-color: $grey;
            border-color: $grey;
            color: #fff;
        }
    }
}

.result-count-form {
    .form__group {
        align-items: center;
        display: flex;
        margin-bottom: 0;
    }

    &__label {
        margin-right: 0.5rem;
    }
}
