@import "../node_modules/sixteen/src/sixteen/settings";

$base_font_size: 14px;

$h1-weight: 400;
$h2-weight: 400;

$grey--light: #f2f2f3;
$grey--lighter: #f8f8f9;

$table-border-color: darken($grey--lighter, 5%);
$table-header-background-color: $grey--lighter;
$table-row-border-color: darken($grey--lighter, 5%);

$menu_background_color: #00213E;
$menu_link_color: #fff;
$menu_link_background_color: transparent;
$menu_link_background_color_hover: lighten(#00213E, 12%);
$menu_link_background_color_active: lighten(#00213E, 6%);
$menu_subnav_min_width: 180px;

$toolbar_height: 3.2rem;

$menu_sidebar_width: 240px;
