@import "../node_modules/sixteen/src/sixteen/settings";

$font_size: 14px;

$h1-weight: 400;
$h2-weight: 400;

$menu_background_color: $grey--dark;
$menu_link_color: #fff;
$menu_link_background_color: transparent;
$menu_link_background_color_hover: $cyan;
$menu_link_background_color_active: $grey;
$menu_subnav_min_width: 180px;
