@import "../node_modules/sixteen/src/sixteen/settings";

$body-background-color: #f4f4f5;

$menu-width: 20rem;
$menu-breakpoint: 1024px;
$menu-background-color: #48484c;

$toolbar-height: 4rem;
$toolbar-background-color: #fff;

