$sidebar_title_height: calc(#{$base_line_height} + (#{$padding} * 2));
$sidebar_border_color: $grey--light;

.sidebar-title {
    height: $sidebar_title_height;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

// Filter sidebar
.filter-section {
    border-top: 1px solid $sidebar_border_color !important;

    &__title {
        cursor: pointer;
        -webkit-position: sticky;
        position: sticky;
        top: $sidebar_title_height;
        z-index: 1;
    }

    &__content {
        background: #f9f9f9;
        // Background gradient to give visual separation between sections and non-section areas
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
        display: none;
        padding-bottom: $padding / 2;
        padding-top: $padding / 2;

        .filter-section--open & {
            display: block;
        }
    }

    &__expand {
        float: right;
        opacity: 0.5;
        transition:
            opacity $animation-speed ease;

        .filter-section__title:hover & {
            opacity: 1;
        }

        .filter-section--open & {
            transform: rotate(-180deg);
        }
    }

    &--open {
        & + .form__row {
            border-top: 1px solid $sidebar_border_color !important;
        }
    }

    &:not(.filter-section--open) + .filter-section,
    .sidebar-title + & {
        border-top: none !important;
    }
}

.content__sidebar {
    & > form > fieldset > .form__row {
        padding-bottom: $padding / 2;
        padding-top: $padding / 2;
    }
}
