.table{
    white-space: nowrap;

    &--admin-mobile-view{
        @media screen and (max-width: $mobile-width) {
            thead th, tbody td{
                display: none;
            }

            thead th:first-child,
            tbody td:first-child,
            .action-column + th:nth-child(2),
            .action-column + td:nth-child(2){
                display: table-cell;
            }
        }
    }

    &-header {
        cursor: pointer;
        padding-right: $horizontal_padding * 3 !important;
        position: relative;

        &__name {
        }

        &__sort {
            visibility: hidden;

            &--active {
                visibility: visible;
            }
        }

        &__actions {
            visibility: hidden;
            position: absolute;
            top: $vertical_padding / 2;
            right: $horizontal_padding / 2;

            &--active {
                visibility: visible;
            }
        }

        &:hover {
            .table-header {
                &__sort,
                &__actions {
                    visibility: visible;
                }
            }
        }
    }

    .action-column {
        width: 1px;
    }
}
