.table {
    border: none;
    th, td {
        position: relative;

        &.table-cell {
            &--checkbox {
                padding-right: 0;
            }
            &--category {
                background-color: $toolbar-background-color;
                color: $grey--dark;
                cursor: default;
                &:hover {
                    background-color: $toolbar-background-color;
                    color: $grey--dark;
                }
            }
            &--category-highlight {
                background-color: $cyan;
                color: #fff;
                cursor: default;
                &:hover {
                    background-color: $cyan;
                    color: #fff;
                }
            }
        }
    }

    &--sticky {
        thead {
            th, td {
                position: -webkit-sticky; // for safari
                position: sticky;
                top: 0;
                left: 0;
                z-index: 3;

                &:first-child {
                    z-index: 4;
                }

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: $table-row-border-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            th:hover {
                .table-header__item {
                    opacity: 1;
                }
            }
        }

        tfoot {
            th, td {
                position: -webkit-sticky; // for safari
                position: sticky;
                bottom: 0;
                left: 0;
                z-index: 3;

                &:first-child {
                    z-index: 4;
                }

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: $table-row-border-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        th, td {
            &.nowrap {
                white-space: nowrap;
            }

            &:first-child {
                position: -webkit-sticky; // for safari
                position: sticky;
                left: 0px;
                width: 200px;
                z-index: 2;
                box-shadow: inset -1px 0px $grey--light;
            }

            &.table-cell {
                &--category {
                    &:first-child {
                        box-shadow: none;
                    }
                }
                &--category-highlight {
                    &:first-child {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &--action {
        thead {
            th, td {
                &:first-child {
                    width: calc(52px - 1rem);
                    padding-right: 0;
                }
                &:first-child, &:nth-child(2) {
                    z-index: 4;
                }
            }
        }

        tfoot {
            th, td {
                &:first-child, &:nth-child(2) {
                    z-index: 4;
                }
            }
        }

        th, td {
            &:first-child {
                width: calc(52px - 1rem);
                padding-right: 0;
            }
            &:first-child, &:nth-child(2) {
                position: -webkit-sticky; // for safari
                position: sticky;
                left: 0px;
                z-index: 2;
                box-shadow: none;
            }
            &:nth-child(2) {
                left: 2.2rem;
                width: 200px;
                box-shadow: inset -1px 0px $grey--light;
            }
        }
    }

    &--admin-mobile-view{
        @media screen and (max-width: $mobile-width) {
            thead th, tbody td{
                display: none;
            }

            thead th:first-child,
            tbody td:first-child,
            .action-column + th:nth-child(2),
            .action-column + td:nth-child(2){
                display: table-cell;
            }
        }
    }
}

.table-header {
    &__item {
        color: $grey;
        cursor: pointer;
        opacity: 0;
        position: relative;
        transition: opacity $animation-speed--fast ease;

        &:hover {
            color: $grey--dark;
        }

        &--active {
            opacity: 1;
        }

        .btn.btn--small {
            line-height: 1rem !important;
        }

        &:not(:only-child) {
            margin-left: 0.5rem;
        }
    }
}

.dragging-table-header {
    background-color: $table-header-background-color;
    padding: 0.5rem 1rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    z-index: 5;
}


.table-cell-editable {
    display: flex;
    justify-content: space-between;
    min-width: 170px;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;

    &:hover {
        .table-cell-editable__action--edit {
            opacity: 1;
        }
    }

    &__value {
        padding-left: 1rem;
        flex: 1;
    }

    &__action {
        width: 32px;
        background-color: transparent;
        border-width: 0;
        &:hover {
            cursor: pointer;
        }

        &--edit {
            color: $grey;
            opacity: 0;

            &:hover {
                color: $grey--dark;
            }
        }
        &--save {
            color: $background_color--create;
            background-color: #fff;

            &:hover {
                color: #fff;
                background-color: $background_color--create;
            }
        }
        &--cancel {
            color: $background_color--delete;
            background-color: #fff;

            &:hover {
                color: #fff;
                background-color: $background_color--delete;
            }
        }
    }

    .form__group {
        margin: 0;
        background-color: #fff;
        min-height: 40px;

        .form__control {
            border-bottom: 0;
            padding-bottom: 0px;
            // position: relative;
            // top: 1px;

            input, select {
                padding: 0.5rem 1rem;
            }

            &--input, &--select, &--textarea {
                &::after {
                    top: 18px;
                }
            }

            .control-select__options {
                z-index: 5;
            }
        }

        .form__help {
            display: none;
        }
    }
}
