//Tabs flex layout for full height
.tabs {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    &__panels {
        display: flex;
        flex: 1;
    }
}

.tab {
    &__panel {
        display: flex;
        flex: 1;

        > .content {
            display: flex;
            flex: 1;
        }
    }
}

// Tab styling
.tabs {
    &__nav {
        padding-top: $padding;
    }
}

.tab {
    &__label {
        background-color: #fff;
        border-color: $table-row-border-color;
        color: $grey--medium;
        transition:
            background-color $animation-speed ease,
            color $animation-speed ease;

        &:hover {
            color: $grey--dark;
        }

        &--active,
        &--active:hover {
            background-color: $content-background-color;
            color: $grey--dark;
        }
    }
}

body.content--centered {
    .tabs {
        margin: auto;
        max-width: $laptop-width;
        padding-left: $content-padding;
        padding-right: $content-padding;
        width: 100%;
    }
}
