.table{
    &--admin-mobile-view{
        @media screen and (max-width: $mobile-width) {
            thead th, tbody td{
                display: none;
            }
            thead th:first-child,
            tbody td:first-child,
            .action-column + th:nth-child(2),
            .action-column + td:nth-child(2){
                display: table-cell;
            }
        }
    }

    .action-column {
        width: 1px;
    }
}
