.toolbar {
    background-color: $toolbar-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @media screen and (min-width: $menu-breakpoint) {
        height: $toolbar-height;
    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .toolbar__item {
            margin-right: 1rem;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .toolbar__item {
            margin-left: 1rem;
        }
    }

    &__item {
        .form__group {
            margin: 0;

            .form__control {
                background-color: #fff;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-color: $grey--light;

                &--input, &--select, &--textarea {
                    border-bottom-width: 0;

                    input, select {
                        padding-right: 1rem;
                    }

                    &::after {
                        top: calc(1.25rem - 2px);
                        right: 1rem;
                    }
                }

                .control-select__options {
                    line-height: 1.5;
                }
            }

            .form__help {
                display: none;
            }
        }
    }
}

.toolbar-profile {
    position: relative;

    &:hover {
        cursor: pointer;

        .toolbar-menu {
            display: block;
        }

        .toolbar-profile__avatar::after {
            opacity: 1;
        }
    }

    &__avatar {
        @include font-size($font_size--normal);
        background-color: $toolbar_profile_avatar_background_color;
        background-color: var(--toolbar_profile_avatar_background_color, $toolbar_profile_avatar_background_color);
        color: $toolbar_profile_avatar_text_color;
        color: var(--toolbar_profile_avatar_text_color, $toolbar_profile_avatar_text_color);
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: ($toolbar_height - 0.5rem) / 2;
        border-width: 0;
        text-align: center;
        position: relative;
        margin-right: 1rem;
        top: 1px;

        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
            right: -1rem;
            top: ($toolbar_height - 0.5rem) / 2;
            @include triangle(down, 10px, 5px, rgba(255, 255, 255, 0.5));
            border-top-color: $toolbar_profile_avatar_arrow_color;
            border-top-color: var(--toolbar_profile_avatar_arrow_color, $toolbar_profile_avatar_arrow_color);
            opacity: 0.5;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

.toolbar-menu {
    display: none;
    position: absolute;
    top: $toolbar_height;
    right: -0.5rem;
    width: 240px;
    background-color: #fff;
    border: 1px solid $grey--light;
    border-top-width: 0;
    z-index: 10;

    &__link {
        display: block;
        padding: 0 1rem;
        line-height: $toolbar_height;

        &:hover {
            background-color: $grey--lighter;
        }
    }

    &__item {
        padding: 0.5rem 1rem;
        color: $grey--dark;
        border-bottom: 1px solid $grey--light;
    }

    &--active {
        display: block;
    }
}
