<div class="messages">
    <div class="alert alert--error">
        <a href="#hide-message" class="hide-message pull-right"><span class="fa fa-times"></span></a>
        <div class="message">Error</div>
    </div>
</div>
