<div class="messages">
    <div class="alert alert--success">
        <a href="#hide-message" class="hide-message pull-right"><span class="fa fa-times"></span></a>
        <div class="message">Success</div>
    </div>
</div>
