<div class="form__group{{form_group_class}}">
    <div class="form__control form__control--radio {{form_control_class}}">
        <ul>
            <li>
                <input type="radio" name="marketing" id="yes">
                <label for="yes" class="form__option-label">
                    Send me marketing offers
                </label>
            </li>
            <li>
                <input type="radio" name="marketing" id="all">
                <label for="all" class="form__option-label">
                    Send me marketing offers from you and your partners
                </label>
            </li>
            <li>
                <input type="radio" name="marketing" id="no">
                <label for="no" class="form__option-label">
                    Please never contact me again
                </label>
            </li>
        </ul>
    </div>
</div>
