<div class="form__group">
    <label for="id_photos" class="form__label">Upload files</label>
    <div class="form__control form__control--borderless">
        <input type="file" name="photos" id="id_photos"  multiple/>
    </div>
    <div class="form__help">Format accepted: JPG</div>
</div>
