<menu class="layout__menu menu">
    {{!-- Header --}}
    <header class="menu__header menu-header">
        <img src="https://app.manwithacam.org/img/mwac_logo_white_400.png" class="menu-header__logo" alt="Man With A Cam">
        <a class="menu-item__link" href="#">
            <i class="fas fa-tachometer-alt"></i>
        </a>
    </header>

    {{!-- Container --}}
    <ul class="menu__container">
        <li class="menu__item menu__item--close menu-item">
            <a class="menu-item__link" href="#">
                <i class="fa fa-close"></i>
            </a>
        </li>

        <li class="menu__item menu-item">
            <a class="menu-item__link" href="" title="MetaData">
                <span class="menu-item__link-icon">
                    <i class="fa fa-users"></i>
                </span>
                <span class="menu-item__link-text">MetaData</span>
            </a>
        </li>

        <li class="menu__item menu-item">
            <a class="menu-item__link" href="" title="MetaData">
                <span class="menu-item__link-icon">
                    <i class="fa fa-file"></i>
                </span>
                <span class="menu-item__link-text">Pages</span>
            </a>
        </li>
    </ul>

    {{!-- Footer --}}
    <footer class="menu__footer menu-footer">
        <div class="menu-footer__text">
            Powered by <a href="">Cotidia</a>
        </div>
        <ul class="menu-footer__list">
            <li class="menu__item menu__item--sidebar-expand">
                <a class="menu-item__link" href="#">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li class="menu__item menu__item--sidebar-collapse">
                <a class="menu-item__link" href="#">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
    </footer>
</menu>
