<div class="toolbar">
    <a class="btn btn--delete btn--small toolbar__item" href="/admin/account/user/271/delete">
        <span class="fa fa-times"></span> Delete
    </a>
    <a class="btn btn--change btn--small toolbar__item" href="/admin/account/user/271/update">
        <span class="fa fa-pencil"></span> Edit
    </a>
    <span class="toolbar__breadcrumbs">
        <a href="/admin/account/user/">Users</a> &nbsp;<span class="fa fa-angle-right"></span>&nbsp; Adam Romoff
    </span>
</div>
