<div class="toolbar">
    <div class="toolbar__left">
        <div class="toolbar__item">
            Title
        </div>
        <div class="toolbar__item">
            <a href="">Link</a>
        </div>
        <div class="toolbar__item">
            <button href="" class="btn btn--small btn--primary">Button</button>
        </div>
    </div>
    <div class="toolbar__right">
        <div class="toolbar__item toolbar-shortcuts">
            <button class="btn">
                + Add
            </button>
            <div class="toolbar-menu">
                <a href="" class="toolbar-menu__link">Model 1</a>
                <a href="" class="toolbar-menu__link">Model 2</a>
                <a href="" class="toolbar-menu__link">Model 3</a>
            </div>
        </div>
        <div class="toolbar__item">
            <div class="form__group">
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="q" value="" placeholder="Search">
                    <div class="input-addon input-addon--suffix">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="toolbar__item toolbar-profile">
            <button class="toolbar-profile__avatar">
                GP
            </button>
            <div class="toolbar-menu">
                <a href="" class="toolbar-menu__link">Profile</a>
                <a href="" class="toolbar-menu__link">Change password</a>
                <a href="" class="toolbar-menu__link">Logout</a>
            </div>
        </div>
    </div>
</div>
