<div class="toolbar"><span class="toolbar__breadcrumbs"><a href="/admin/team/member/">Members</a> &nbsp;<span class="fa fa-angle-right"></span>&nbsp; <a href="/admin/team/member/1">Daneal Bassiouni</a> &nbsp;<span class="fa fa-angle-right"></span>&nbsp; Confirm delete</span>
</div>
