<div class="toolbar"><a class="btn btn--create btn--small pull-right toolbar__item" href="/admin/cms/page/add/"><span class="fa fa-plus"></span> Add Page</a> <span class="toolbar__breadcrumbs">Pages</span></div>
