<div class="toolbar">
    <div class="toolbar__left">
        <div class="toolbar__item">
            Title
        </div>
        <div class="toolbar__item">
            <a href="">Link</a>
        </div>
        <div class="toolbar__item">
            <button href="" class="btn btn--small btn--primary">Button</button>
        </div>
    </div>
    <div class="toolbar__right">
        <div class="toolbar__item">
            <div class="form__group">
                <div class="form__control form__control--input">
                    <input type="text" name="q" value="">
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="toolbar__item">
            <button href="" class="btn btn--small btn--create">Button</button>
        </div>
    </div>
</div>
