<form class="content form form--animate" action="" method="post">
    {{> @content-head-title}}
    <div class="content__body">
        <div class="content__inner">
            <div class="content__delete">
                <fieldset>
                    <legend>Are you sure to delete the following member?</legend>
                    <div class="form__row">
                        <p>
                            John Doe
                        </p>
                    </div>
                    <div class="form__row">
                        <p class="text-italic">The operation is not reversible.</p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    {{> @content-footer-action}}
</form>
