{% load staticfiles %}
<menu class="layout__menu menu">
    <header class="menu__header menu-header">
        {% if ADMIN_SITE_LOGO %}
            <img src="{% static ADMIN_SITE_LOGO %}" class="menu-header__logo" alt="{{SITE_NAME}}">
        {% else %}
            {{SITE_NAME}}
        {% endif %}
        <div class="menu__item menu__item--open menu-item">
            <a href="#" class="menu-item__link" title="View navigation" aria-label="View navigation">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <a class="menu-item__link hidden-mobile hidden-tablet" href="{% url 'dashboard' %}" title="Dashboard" aria-label="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
        </a>
    </header>
    <ul class="menu__container">
        <li class="menu__item menu__item--close menu-item menu-item--static">
            <a class="menu-item__link" href="#" title="Close" aria-label="close">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <li class="menu__item menu-item menu-item--static hidden-laptop hidden-desktop">
            <a class="menu-item__link" href="#" title="Dashboard" aria-label="Dashboard">
                <span class="menu-item__link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                <span class="menu-item__link-text">Dashboard</span>
            </a>
        </li>
        {% for item in menu %}
            {% if item.nav_items %}
                {% include "admin/menu/menu_section.html" %}
            {% else %}
                {% include "admin/menu/menu_item.html" %}
            {% endif %}
        {% endfor %}
    </ul>
    <footer class="menu__footer menu-footer">
        {% if ADMIN_SHOW_BRANDING %}
        <a href="https://cotidia.com/" class="menu-footer__text" target="_blank" title="Go to cotidia.com">
            Powered by Cotidia
        </a>
        {% endif %}
        <ul class="menu-footer__list">
            <li class="menu__item menu__item--sidebar-expand">
                <a class="menu-item__link" href="#" title="Expand menu">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="menu__item menu__item--sidebar-collapse">
                <a class="menu-item__link" href="#" title="Collapse menu">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>
        </ul>
    </footer>
</menu>
