<menu class="menu">
    <header class="menu__item menu__item--open menu-item">
        <a href="#" class="menu-item__link"><span class="fa fa-bars"></span></a>
        <span class="menu__title">{{SITE_NAME}}</span>
    </header>
    <ul class="menu__container">
        <li class="menu__item menu__item--close menu-item">
            <a href="#" class="menu-item__link"><span class="fa fa-close"></span></a>
        </li>
        <li class="menu__item menu-item menu-item--home">
            <a href="{% url 'dashboard' %}" class="menu-item__link">
                <span class="menu-item__link-icon">
                    <span class="fa fa-home"></span>
                </span>
                <span class="menu-item__link-text">{{SITE_NAME}}</span>
            </a>
        </li>
        {% include "admin/menu/shortcuts.html" %}
        {% for item in menu %}
            {% if not item.url and not item.nav_items %}
                {% include "admin/menu/menu_section.html" %}
            {% else %}
                {% include "admin/menu/menu_item.html" %}
            {% endif %}
        {% endfor %}
        <li class="menu__item menu__item--sidebar-expand">
            <a href="#" class="menu-item__link" title="expand">
                <span class="menu-item__link-icon">
                    <span class="fa fa-chevron-right"></span>
                </span>
            </a>
        </li>
        <li class="menu__item menu__item--sidebar-collapse">
            <a href="#" class="menu-item__link" title="collapse">
                <span class="menu-item__link-icon">
                    <span class="fa fa-chevron-left"></span>
                </span>
                <span class="menu-item__link-text">Collapse menu</span>
            </a>
        </li>
    </ul>
</menu>
