<div class="layout__menu">
    {{> @menu }}
</div>
<div class="layout__main">
    <div class="layout__toolbar">
        {{> @toolbar }}
    </div>
    <div class="layout__message">
        {{> @message }}
    </div>
    {{> @list }}
</div>
