<div class="layout__content content content--sticky">
    {{> @content-head }}
    {{> @content-toolbar }}
    <div class="content__body">
        <div class="content__inner">
            <div class="content__list">
                {{> @table--sticky }}
            </div>
            {{> @content-sidebar }}
        </div>
    </div>
    {{> @content-foot }}
</div>
<script>
    var toggleSidebarBtns = document.querySelectorAll('.toggle-sidebar')
    var content = document.querySelector('.content__body')
    toggleSidebarBtns.forEach(function(elm) {
        elm.addEventListener('click', function() {
            if (content.classList.contains('content__body--sidebar')) {
                content.classList.remove('content__body--sidebar')
            } else {
                content.classList.add('content__body--sidebar')
            }
        })
    })
</script>
