{% if is_paginated or page_obj%}
<div class="pagination">
    <div class="pagination__subsection">

    {% if page_obj.has_previous %}
    <a href="?{{filter_params}}&page={{ page_obj.previous_page_number }}" class="pagination__link pagination__link--prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
    <a href="?{{filter_params}}&page={{ page_obj.next_page_number }}" class="pagination__link pagination__link--next">
        <span class="fa fa-chevron-right"></span>
    </a>
    {% endif %}

    </div>
    <div class="pagination__subsection hidden-mobile">
        Showing {{page_obj.object_list.count}} of {{total_results_count}} results
    </div>
</div>
{% endif %}
