{{> @menu }}
{{> @toolbar--buttons }}

<div class="content">
    <div class="form">
        <fieldset class="detail">
            <legend>User details</legend>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Name</label>
                    <div class="form__control">Adam Romoff</div>
                </div>
                <div class="form__group">
                    <label class="form__label">Email</label>
                    <div class="form__control">aromoff@beckwithlondon.com</div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Username</label>
                    <div class="form__control">aromoff@beckwithlondon.com</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="detail">
            <legend>Roles &amp; Permissions</legend>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Active</label>
                    <div class="form__control"><span class="fa fa-check text-green"></span></div>
                </div>
                <div class="form__group">
                    <label class="form__label">Staff</label>
                    <div class="form__control"><span class="fa fa-close text-red"></span></div>
                </div>
                <div class="form__group">
                    <label class="form__label">Superuser</label>
                    <div class="form__control"><span class="fa fa-close text-red"></span></div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Roles</label>
                    <div class="form__control"><span class="text-italic text-grey--medium">No roles assigned.</span></div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Permissions</label>
                    <div class="form__control"><span class="text-italic text-grey--medium">No permissions assigned.</span></div>
                </div>
            </div>
        </fieldset>
        <fieldset class="detail">
            <legend>Profile</legend>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Company</label>
                    <div class="form__control"></div>
                </div>
                <div class="form__group">
                    <label class="form__label">Type</label>
                    <div class="form__control"></div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Mobile number</label>
                    <div class="form__control">+44 (0)771 690 3624</div>
                </div>
                <div class="form__group">
                    <label class="form__label">Phone number</label>
                    <div class="form__control">+44 (0)20 7225 2250</div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Investment focus</label>
                    <div class="form__control"></div>
                </div>
                <div class="form__group">
                    <label class="form__label">Regional focus</label>
                    <div class="form__control"></div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label">Deal size min</label>
                    <div class="form__control"></div>
                </div>
                <div class="form__group">
                    <label class="form__label">Deal size max</label>
                    <div class="form__control"></div>
                </div>
            </div>
            <div class="fieldset_actions"><a class="btn btn--small btn--change" href="/admin/profile/698/update">Edit profile</a></div>
        </fieldset>
        <div class="form__actions">
            <div class="form__actions-inner"><a class="btn btn--change" href="/admin/account/user/271/update">Edit</a> <a class="btn btn--cancel pull-right" href="/admin/account/user/">Back</a></div>
        </div>
    </div>
</div>
