{{> @menu }}
{{> @toolbar--buttons }}

<div class="content">
    <div class="content__list">
        <table class="table table--clickable table--admin-mobile-view">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th class="text-right"><span class="sr-only">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr onclick="window.location = '/admin/file/14'">
                    <td data-header="Name">hero-bridging.jpg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:50 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/14">View</a> <a class="btn btn--small btn--delete" href="/admin/file/14/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/13'">
                    <td data-header="Name">hero-development.jpg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:50 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/13">View</a> <a class="btn btn--small btn--delete" href="/admin/file/13/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/12'">
                    <td data-header="Name">hero-lender.jpg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:49 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/12">View</a> <a class="btn btn--small btn--delete" href="/admin/file/12/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/8'">
                    <td data-header="Name">intelligent-icon.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 12:22 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/8">View</a> <a class="btn btn--small btn--delete" href="/admin/file/8/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/40'">
                    <td data-header="Name">hero-help.jpg</td>
                    <td data-header="Date Created">Oct. 18, 2017, 11:46 a.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/40">View</a> <a class="btn btn--small btn--delete" href="/admin/file/40/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/29'">
                    <td data-header="Name">intelligent-icon.svg</td>
                    <td data-header="Date Created">Oct. 17, 2017, 9:14 a.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/29">View</a> <a class="btn btn--small btn--delete" href="/admin/file/29/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/26'">
                    <td data-header="Name">service-icon-01.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:57 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/26">View</a> <a class="btn btn--small btn--delete" href="/admin/file/26/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/23'">
                    <td data-header="Name">service-icon-01.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:56 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/23">View</a> <a class="btn btn--small btn--delete" href="/admin/file/23/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/20'">
                    <td data-header="Name">service-icon-01.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:55 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/20">View</a> <a class="btn btn--small btn--delete" href="/admin/file/20/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/9'">
                    <td data-header="Name">processed-icon.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 12:23 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/9">View</a> <a class="btn btn--small btn--delete" href="/admin/file/9/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/45'">
                    <td data-header="Name">hero-help.jpg</td>
                    <td data-header="Date Created">Oct. 18, 2017, 2:04 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/45">View</a> <a class="btn btn--small btn--delete" href="/admin/file/45/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/30'">
                    <td data-header="Name">processed-icon.svg</td>
                    <td data-header="Date Created">Oct. 17, 2017, 9:14 a.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/30">View</a> <a class="btn btn--small btn--delete" href="/admin/file/30/delete">Delete</a></td>
                </tr>
                <tr onclick="window.location = '/admin/file/27'">
                    <td data-header="Name">service-icon-02.svg</td>
                    <td data-header="Date Created">Oct. 16, 2017, 5:57 p.m.</td>
                    <td class="text-right"><a class="btn btn--small btn--primary" href="/admin/file/27">View</a> <a class="btn btn--small btn--delete" href="/admin/file/27/delete">Delete</a></td>
                </tr>
            </tbody>
        </table>
        {{> @pagination }}
    </div>
</div>
