{{> @menu }}
{{> @toolbar }}

<div class="layout__content content">
    <div class="content__body">
        <h1 class="text-emphasis">Dashboard</h3>
        <p>Welcome to your dashboard, John.</p>
    </div>
</div>
