<div class="form__group">
    <label class="form__label">Password</label>
    <div class="form__control form__control--input">
        <input type="password" name="password">
    </div>
    <div class="form__help">At least 6 characters required. One letter and one number.</div>
</div>
