<div class="form__group{{form_group_class}}">
    <label class="form__label">{{label}}</label>
    <div class="form__control form__control--textarea">
        <textarea name="description" placeholder="Enter a description"{{input_attributes}}></textarea>
    </div>
    <div class="form__help">{{help}}</div>
</div>
