<fieldset>
    <legend>Member details</legend>
    <div class="form__row">
        <div class="form__group form__group--required">
            <label for="id_first_name" class="form__label">First name</label>
            <div class="form__control form__control--input">
                <input type="text" name="first_name" value="John"
                maxlength="50" required="" id="id_first_name" />
            </div>
            <div class="form__help"></div>
        </div>
        <div class="form__group form__group--required">
            <label for="id_last_name" class="form__label">Last name</label>
            <div class="form__control form__control--input">
                <input type="text" name="last_name" value="Doe" maxlength=
                "50" required="" id="id_last_name" />
            </div>
            <div class="form__help"></div>
        </div>
    </div>
    <div class="form__row">
        <div class="form__group form__group--error">
            <label for="id_email" class="form__label">Email</label>
            <div class="form__control form__control--input">
                <input type="email" name="email" value=
                "name@email.com" maxlength="100" id="id_email" />
            </div>
            <div class="form__help">Please enter a valid email address.</div>
        </div>
        <div class="form__group form__group--inactive">
            <label for="id_phone" class="form__label">Phone</label>
            <div class="form__control form__control--input">
                <input type="text" name="phone" maxlength="50" id=
                "id_phone" />
            </div>
            <div class="form__help">Please remember to include your area code.</div>
        </div>
    </div>
    <div class="form__row">
        <div class="form__group">
            <div class="form__control">
                <label for="id_active" class="form__label"><input type=
                "checkbox" name="active" id="id_active" checked="checked" />
                Active</label>
            </div>
            <div class="form__help"></div>
        </div>
    </div>
</fieldset>
