{% load staticfiles %}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}No title set{% endblock %} | {{SITE_NAME}}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% include "admin/partials/favicon.html" %}
        {% if DEBUG %}
            <link rel="stylesheet" href="{% static "css/admin.css" %}">
        {% else %}
            <link rel="stylesheet" href="{% static "css/admin.min.css" %}">
        {% endif %}
        {% block header_scripts %}{% endblock header_scripts %}
    </head>
    <body class="menu--sidebar {% block body_class %}{% endblock %}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content %}{% endblock content %}

        <script src="{% static "js/es5-shim.min.js" %}"></script>
        <script src="{% static "js/es5-sham.min.js" %}"></script>
        <script src="{% static "js/cookiesHelper.js" %}"></script>
        <script src="{% static "js/menu.js" %}"></script>

        {% block footer_scripts %}{% endblock footer_scripts %}
    </body>
</html>
