{% extends "admin/base.html" %}{% load i18n admin_menu_tags %}
{% block content %}
    {% menu %}
    <div class="toolbar">
        {% block toolbar %}
        <div class="toolbar__title toolbar-title">
            {% block toolbar_title %}{% endblock toolbar_title %}
        </div>
        <div class="toolbar__menu toolbar-menu">
            {% block toolbar_menu %}
            {% include "admin/menu/shortcuts.html" %}
            {% include "admin/menu/global_search.html" %}
            {% include "admin/menu/profile.html" %}
            {% endblock toolbar_menu %}
        </div>
        {% endblock toolbar %}
    </div>
    <div class="content">
        {% include "admin/generic/messages.html" %}
        {% block page_content %}{% endblock page_content %}
    </div>
{% endblock content %}
