{% extends "admin/base.html" %}{% load i18n admin_menu_tags %}
{% block content %}
    {% menu %}
    <div class="toolbar">
        {% block toolbar_menu %}
        <div class="toolbar__menu">
            {% if request.user %}
            <div class="toolbar-profile">
                <button class="toolbar-profile__avatar">
                    {{request.user.first_name.0}}{{request.user.last_name.0}}
                </button>
                <div class="toolbar-profile__menu toolbar-profile-menu">
                    <a href="{% url 'account-admin:edit' %}" class="toolbar-profile-menu__link">{% trans "Profile" %}</a>
                    <a href="{% url 'account-admin:password-change' %}" class="toolbar-profile-menu__link">{% trans "Change password" %}</a>
                    <a href="{% url 'account-admin:logout' %}" class="toolbar-profile-menu__link">{% trans "Logout" %}</a>
                </div>
            </div>
            {% endif %}
        </div>
        {% endblock toolbar_menu %}
        {% block toolbar %}{% endblock toolbar %}
    </div>
    <div class="content">
        {% include "admin/generic/messages.html" %}
        {% block page_content %}{% endblock page_content %}
    </div>
{% endblock content %}
