<div class="layout__main">
    {{> @toolbar }}
    <div class="layout__content content">
        <div class="content__head">
            <div class="content__inner content-head">
                <div class="content-head__title">Dashboard</div>
                <div class="content-head__actions"></div>
            </div>
        </div>
        <div class="content__body">
            <div class="content__inner">
                <p>Welcome to your dashboard, John.</p>
            </div>
        </div>
    </div>
</div>
