{{> @menu }}
{{> @toolbar }}

<div class="layout__content content">
    <form action="" method="post" class="form form--animate" enctype="">
        {{> @alert--success }}
        {{> @content-head-title}}
        <div class="content__body">
            <div class="content__inner">
                <fieldset class="detail">
                    <legend>Member details</legend>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Name</label>
                            <div class="form__control">John Doe</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Role</label>
                            <div class="form__control">Managing Director</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Slug</label>
                            <div class="form__control">alan-doe</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Biography</label>
                            <div class="form__control">Sed molestie ut quam vitae placerat. Phasellus id tristique purus. Nam eget commodo nunc. Donec ultricies volutpat mi, rhoncus commodo odio hendrerit vitae. Praesent mauris ex, luctus vel elit eu, lobortis molestie dolor eleifend auctor.</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Email</label>
                            <div class="form__control">name@email.com</div>
                        </div>
                        <div class="form__group">
                            <label class="form__label">Phone</label>
                            <div class="form__control">+44 (0) 121 638 0845</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Active</label>
                            <div class="form__control">
                                <svg class="svg-inline--fa fa-check fa-w-16 text-green" aria-hidden="true" data-prefix="fa" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <span class="fa fa-check text-green"></span> -->
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="table-view">
                    <legend>URLs</legend>
                    <table class="table table--clickable table--admin-mobile-view">
                        <thead>
                            <tr>
                                <th>Network</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LinkedIn</td>
                                <td><a href="https://www.linkedin.com/in/firstname-surname" target="_blank">https://www.linkedin.com/in/firstname-surname</a></td>
                            </tr>
                            <tr>
                                <td colspan="2"><a href="/admin/team/member/4/social/add" class="btn btn--create btn--small">Add URL</a></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        {{> @content-foot}}
    </form>
</div>
