{{> @menu }}
<div class="layout__main">
    {{> @toolbar }}
    <div class="layout__content content content--sticky">
        {{> @content-head }}
        {{> @content-toolbar }}
        <div class="content__body">
            <div class="content__inner">
                <div class="content__list">
                    {{> @table--sticky }}
                </div>
                {{> @content-sidebar }}
            </div>
        </div>
        <div class="content__foot">
            <div class="content__inner content-foot">
                <div class="content-foot__left">
                    {{> @pagination }}
                </div>
                <div class="content-foot__right"></div>
            </div>
        </div>
    </div>
</div>
