{% load staticfiles %}
<!-- Standard browser -->
<link rel="icon" type="image/png" href="{% static '/ico/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static '/ico/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static '/ico/favicon-96x96.png' %}" sizes="96x96">
<!-- Apple touch icons -->
<link rel="apple-touch-icon" href="{% static '/ico/apple-touch-icon-120x120.png' %}"> <!-- 120px -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/ico/apple-touch-icon-180x180.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static '/ico/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="167x167" href="{% static '/ico/apple-touch-icon-167x167.png' %}">
