{% load static %}
{% if ADMIN_DEBUG %}
    <script src="http://localhost:3000/search-dashboard.js"></script>
{% else %}
    <script src="{% static "js/search-dashboard.js" %}"></script>
{% endif %}
<script>
    // <![CDATA[
        if (window.React && window.ReactDOM && window.TypeaheadSwitcher) {
            document.querySelectorAll('[data-typeahead-endpoint]').forEach(function (typeahead) {
                var endpoint = typeahead.dataset.typeaheadEndpoint
                var placeholder
                var minchars = typeahead.dataset.typeaheadMinchars ? parseInt(typeahead.dataset.typeaheadMinchars) : 1

                if (typeahead.querySelector('[placeholder]')) {
                    placeholder = typeahead.querySelector('[placeholder]').getAttribute('placeholder')
                }

                ReactDOM.render(
                    React.createElement(
                        window.TypeaheadSwitcher,
                        {
                            apiEndpoint: endpoint,
                            placeholder: placeholder,
                            minchars: minchars,
                        }
                    ),
                    typeahead.parentElement
                )
            })
        }
    // ]]>
</script>

