<form>
    <div class="form__group{{form_group_class}}">
        <label class="form__label">{{label}}</label>
        <div class="form__control form__control--checkbox-multiple{{form_control_class}}">
            <ul>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="car">
                    <label for="car">
                        A car
                    </label>
                </li>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="motorbike">
                    <label for="motorbike">
                        A motorbike
                    </label>
                </li>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="bicycle">
                    <label for="bicycle">
                        A bicycle
                    </label>
                </li>
            </ul>
        </div>
        <div class="form__help">{{help}}</div>
    </div>
</form>
