<div class="content__toolbar">
    <div class="content__filter">
        <div class="form__group form__group--boxed">
            <div class="form__control form__control--input form__control--input-addon">
                <input type="text" name="q" value="" placeholder="Search">
                <div class="input-addon input-addon--prefix">
                    <span class="fa fa-search"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content__actions">
        <button class="btn btn--outline btn--small toggle-sidebar">
            <span class="fa fa-filter"></span>
        </button>
    </div>
</div>
