{% extends "admin/generic/page/form.html" %}{% load i18n admin_list_tags %}

{% block toolbar %}
<div class="toolbar__breadcrumbs">
    <a href="{% get_admin_url parent_app_label parent_model_name 'detail' parent %}">{{parent}}</a>
    &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
    {% if object %}
        {% blocktrans with verbose_name as verbose_name %}
            Edit {{verbose_name}}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with verbose_name as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
    {% endif %}
</div>
{% endblock toolbar %}

{% block form_actions %}
<div class="form__actions">
    <div class="form__actions-inner">
        <button type="submit" class="btn btn--primary">
            {% trans "Save" %}
        </button>
        <a href="{% get_admin_url parent_app_label parent_model_name 'detail' parent %}" class="btn btn--cancel">
            {% trans "Cancel" %}
        </a>
        {% if object %}
        <a href="{% get_child_admin_url app_label model_name 'delete' parent object %}" class="btn btn--delete pull-right">
            {% trans "Delete" %}
        </a>
        {% endif %}
    </div>
</div>
{% endblock form_actions %}
