{% extends "admin/generic/page/confirm_delete.html" %}{% load i18n admin_list_tags %}

{% block content_title %}
<a href="{% get_admin_url parent_app_label parent_model_name 'detail' parent %}">
    {{parent}}
</a>
&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
<a href="{% get_child_admin_url app_label model_name 'update' parent object %}">
    {{object}}
</a>
&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
{% trans "Confirm delete" %}
{% endblock content_title %}

{% block form_actions %}
<form method="post" action="">
    {% csrf_token %}
    <button type="submit" class="btn btn--delete">
        {% trans "Confirm Delete" %}
    </button>
    <a href="{% get_child_admin_url app_label model_name 'update' parent object %}" class="btn btn--cancel pull-right">
        {% trans "Cancel" %}
    </a>
</form>
{% endblock form_actions %}
