{% extends "admin/page.html" %}{% load i18n admin_list_tags %}
{% block title %}
    {% trans "Delete" %} {{object_name}}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% get_admin_url app_label model_name "list" %}">
            {{object_name}}
        </a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        <a href="{% get_admin_url app_label model_name "detail" object %}">
            {{object}}
        </a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Confirm delete" %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<div class="content__delete">
    <fieldset>
        <legend>{% blocktrans with object_name|lower as object_name %}
            Are you sure to delete the following {{object_name}}?
            {% endblocktrans %}
        </legend>
        <p>
        {{object}}
        </p>
        <p class="text-italic">{% trans "The operation is not reversible." %}</p>
    </fieldset>

    <div class="content__inner">
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn--delete">
                {% trans "Confirm Delete" %}
            </button>
            <a href="{% get_admin_url app_label model_name "detail" object %}" class="btn btn--transparent pull-right">
                {% trans "Cancel" %}
            </a>
        </form>
    </div>
</div>
{% endblock page_content %}
