{% extends "admin/page.html" %}{% load i18n admin_list_tags %}
{% block title %}
    {% trans "Delete" %} {{verbose_name}}
{% endblock title %}

{% block body_class %}content--centered{% endblock body_class %}

{% block content_title %}
    {% if list_url %}
    <a href="{{list_url}}" class="btn btn--link tooltip tooltip--bottom-center back-to-list" data-tooltip="Back to list">
        <span class="fa fa-list"></span>
    </a>
    {% endif %}
    {{object}}
{% endblock content_title %}

{% block page_content %}
<div class="content__body">
    <div class="content__inner">
        <div class="content__delete">
            <fieldset>
                <legend>{% blocktrans with verbose_name|lower as verbose_name %}
                    Are you sure to delete the following {{verbose_name}}?
                    {% endblocktrans %}
                </legend>
                <div class="form__row">
                    <p>
                        {{object}}
                    </p>
                </div>
                <div class="form__row">
                    <p class="text-italic">{% trans "The operation is not reversible." %}</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% block form_actions %}
<form method="post" action="">
    {% csrf_token %}
    <div class="content__foot">
        <div class="content__inner content-foot">
            <div class="content-foot__left">
                <button type="submit" class="btn btn--delete">
                    {% trans "Confirm Delete" %}
                </button>
            </div>
            <div class="content-foot__right">
                <a href="{% if next %}{{next}}{% else %}{% get_admin_url app_label model_name 'detail' object %}{% endif %}" class="btn btn--cancel pull-right">
                    {% trans "Cancel" %}
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock form_actions %}
{% endblock page_content %}
