{% extends "admin/page.html" %}{% load i18n admin_list_tags admin_toolbar_tags admin_detail_tags %}
{% block title %}
    {% blocktrans with verbose_name as verbose_name %}
        {{verbose_name}} details
    {% endblocktrans %}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar %}
    {% toolbar_action_button app_label model_name "update" "Edit item" object.id %}
    <span class="toolbar__breadcrumbs">
        <a href="{% get_admin_url app_label model_name "list" %}">{{verbose_name}}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% blocktrans with verbose_name as verbose_name %}
            {{verbose_name}} details
        {% endblocktrans %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<div class="form">
    {% for fieldset in fieldsets %}
        {% if fieldset.template_name %}
            {% include fieldset.template_name with object=object %}
        {% else %}
        <fieldset class="detail">
            {% if fieldset.legend %}
                <legend>{{fieldset.legend}}</legend>
            {% endif %}
            {% for field in fieldset.fields %}
                {% if field|is_list %}
                    <div class="form__row">
                    {% for f in field %}
                        {% render_detail_field object f %}
                    {% endfor %}
                    </div>
                {% else %}
                <div class="form__row">
                    {% render_detail_field object field %}
                </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        {% endif %}
    {% endfor %}
    <div class="form__actions">
        <div class="form__actions-inner">
            <a href="{% get_admin_url app_label model_name "update" object %}" class="btn btn--change">
                {% blocktrans with object_name as object_name %}
                    Edit {{object_name}}
                {% endblocktrans %}
            </a>
        </div>
    </div>
</div>
{% endblock page_content %}
