{% extends "admin/page.html" %}{% load i18n admin_list_tags admin_toolbar_tags admin_detail_tags %}
{% block title %}
    {% blocktrans with verbose_name as verbose_name %}
        {{verbose_name}} details
    {% endblocktrans %}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar %}
    <a href="{% get_admin_url app_label model_name "delete" object %}" class="btn btn--delete btn--small toolbar__item">
        <span class="fa fa-times"></span>
        {% blocktrans with verbose_name as verbose_name %}
            Delete
        {% endblocktrans %}
    </a>
    <a href="{% get_admin_url app_label model_name 'update' object %}" class="btn btn--change btn--small toolbar__item">
        <span class="fa fa-pencil"></span>
        {% blocktrans with verbose_name as verbose_name %}
            Edit
        {% endblocktrans %}
    </a>
    <span class="toolbar__breadcrumbs">
        <a href="{% get_admin_url app_label model_name 'list' %}">{{verbose_name_plural}}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% blocktrans with verbose_name as verbose_name %}
            {{verbose_name}} details
        {% endblocktrans %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<div class="form">
    {% for fieldset in fieldsets %}
        {% if fieldset.template_name %}
            {% include fieldset.template_name with object=object %}
        {% else %}
        <fieldset class="detail">
            {% if fieldset.legend %}
                <legend>{{fieldset.legend}}</legend>
            {% endif %}
            {% for field in fieldset.fields %}
                {% if field|is_list %}
                    <div class="form__row">
                    {% for f in field %}
                        {% render_detail_field object f %}
                    {% endfor %}
                    </div>
                {% else %}
                <div class="form__row">
                    {% render_detail_field object field %}
                </div>
                {% endif %}
            {% endfor %}
            {% include "admin/generic/detail/fieldset-actions.html" %}
        </fieldset>
        {% endif %}
    {% endfor %}
    {% block form_actions %}
    <div class="form__actions">
        <div class="form__actions-inner">
            <a href="{% get_admin_url app_label model_name 'update' object %}" class="btn btn--change">
                {% blocktrans with object_name as object_name %}
                    Edit
                {% endblocktrans %}
            </a>
            <a href="{% get_admin_url app_label model_name 'list' %}" class="btn btn--transparent pull-right">
                {% trans "Back" %}
            </a>
        </div>
    </div>
    {% endblock form_actions %}
</div>
{% endblock page_content %}
