{% extends "admin/generic/page/list.html" %}{% load admin_search_dashboard_tags i18n admin_toolbar_tags admin_list_tags %}
{% load staticfiles %}
{% block title %}
    {{tab_title}}
{% endblock title %}

{% block content_title %}{{title}}{% endblock content_title %}
{% block content_actions %}
    {% if add_view %}
    <a href="{% get_admin_url app_label model_name 'add' %}" class="btn btn--cancel btn--small" title="{% blocktrans with verbose_name|lower as verbose_name %}Add {{verbose_name}}{% endblocktrans %}">
        <span class="fa fa-plus"></span>
        {% comment %}
        {% blocktrans with verbose_name|lower as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
        {% endcomment %}
    </a>
    {% endif %}
{% endblock content_actions %}
{% block page_content %}
    <div class="layout__content content content--sticky" id="dynamic-list"></div>
    <div id="modal-container"></div>
{% endblock page_content %}

{% block footer_scripts %}
    {% if needs_map_config %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.33&amp;key={{ GOOGLE_API_KEY }}"></script>
    {% endif %}
    {{block.super}}
    {% block dynamic_list_definition %}
    <script>
        // <![CDATA[

            var dynamicListData = {% render_dynamic_list_config app_label model_name request.user.token.key serializer=serializer endpoint=endpoint batch_actions=batch_actions default_columns=default_columns default_order_by=default_order_by default_filters=default_filters %}
            {% block dynamic_list_data_transform %}

            {% endblock dynamic_list_data_transform %}

            if (window.ReactDOM && window.React && window.DynamicList) {
                ReactDOM.render(
                    React.createElement(DynamicList, dynamicListData),
                    document.getElementById('dynamic-list')
                )
            }
        // ]]>
    </script>
    {% endblock dynamic_list_definition %}
{% endblock footer_scripts %}
