{% extends "admin/page.html" %}{% load admin_search_dashboard_tags i18n admin_toolbar_tags admin_list_tags %}
{% load staticfiles %}
{% block title %}
    {{verbose_name}}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar_title %}{{verbose_name_plural}}
    <a href="{% get_admin_url app_label model_name 'add' %}" class="btn btn--create btn--small toolbar__item">
        <span class="fa fa-plus"></span>
        {% blocktrans with verbose_name as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
    </a>
{% endblock toolbar_title %}

{% block page_content %}
{% include 'admin/generic/utils/head-filter.html' %}
<div id="search-dashboard"></div>
{% endblock page_content %}

{% block footer_scripts %}
{{block.super}}
{% if DEBUG %}
    <script src="http://localhost:3000/search-dashboard.js"></script>
{% else %}
    <script src="{% static "js/search-dashboard.js" %}"></script>
{% endif %}
<script>
    data = {% render_search_dashboard_config app_label model_name url_type request.user.token.key default_columns default_filters default_order %};
    if (ReactDOM) {
        ReactDOM.render(React.createElement(window.SearchDashboard, data), document.getElementById('search-dashboard'))
    }
</script>
{% endblock footer_scripts %}
