{% extends "admin/page.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}

{% block header_scripts %}
    {{block.super}}
    {{ form.media.css }}
{% endblock header_scripts %}

{% block title %}
    {% if object %}
        {% blocktrans with verbose_name as verbose_name %}
            Edit {{verbose_name}}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with verbose_name as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
    {% endif %}
{% endblock title %}

{% block content_title %}
    <a href="{% get_admin_url app_label model_name 'list' %}">{{verbose_name_plural}}</a>
    &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
    {% if object %}
        <a href="{% get_admin_url app_label model_name 'detail' object %}">{{object}}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% blocktrans with verbose_name as verbose_name %}
            Edit {{verbose_name}}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with verbose_name as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
    {% endif %}
{% endblock content_title %}

{% block messages %}
{{block.super}}
{% include "admin/generic/form/non_field_errors.html" %}
{% include "admin/generic/form/errors.html" %}
{% endblock messages %}

{% block page_content %}
<form action="" method="post" class="form form--animate" enctype="multipart/form-data">
    <div class="content__body">
        <div class="content__inner">
        {% csrf_token %}
        {% with fieldset_template_name="admin/generic/form/fieldset_as_div.html" field_template_name="admin/generic/form/field_as_div.html" %}
            {% for elm in form %}
                {% if elm.is_fieldset %}
                    {% include fieldset_template_name with fieldset=elm %}
                {% else %}
                    <div class="form__row">
                        {% include field_template_name with field=elm %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        </div>
    </div>
    {% block form_actions %}
    <div class="content__foot">
        <div class="content__inner content-foot">
            <div class="content-foot__left">
                <div class="content__foot-left">
                    <button type="submit" class="btn btn--primary">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
            <div class="content-foot__right">
                <a href="{% if next %}{{next}}{% else %}{% get_admin_url app_label model_name 'list' %}{% endif %}" class="btn btn--cancel pull-right">
                    {% trans "Cancel" %}
                </a>
            </div>
        </div>
    </div>
    {% endblock form_actions %}
</form>
{% endblock page_content %}

{% block footer_scripts %}
{{block.super}}
{{ form.media.js }}
{% endblock footer_scripts %}
