{% extends "admin/page.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}
{% block title %}
    {{verbose_name}}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar %}
    {% if add_view %}
    <a href="{% get_admin_url app_label model_name 'add' %}" class="btn btn--create btn--small pull-right">
        <span class="fa fa-plus"></span>
        {% blocktrans with verbose_name as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
    </a>
    {% endif %}
    <span class="toolbar__title">{{verbose_name_plural}}</span>
{% endblock toolbar %}

{% block page_content %}
<div class="content__list">
    {% include 'admin/generic/utils/head-filter.html' %}
    {% include 'admin/generic/list/list.html' %}
</div>
{% endblock page_content %}
