{% extends "admin/page.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}
{% block title %}
    {% trans "Add" %} {{verbose_name|lower}}
{% endblock title %}

{% block content_title %}{{verbose_name_plural}}{% endblock content_title %}
{% block content_actions %}
    {% if add_view %}
    <a href="{% get_admin_url app_label model_name 'add' %}" class="btn btn--cancel btn--small" title="{% blocktrans with verbose_name|lower as verbose_name %}Add {{verbose_name}}{% endblocktrans %}">
        <span class="fa fa-plus"></span>
        {% comment %}
        {% blocktrans with verbose_name|lower as verbose_name %}
            Add {{verbose_name}}
        {% endblocktrans %}
        {% endcomment %}
    </a>
    {% endif %}
{% endblock content_actions %}

{% block content_class %}content--sticky{% endblock content_class %}

{% block page_content %}
{% include 'admin/generic/utils/head-filter.html' %}
<div class="content__body">
    <div class="content__inner">
        <div class="content__list">
            {% include 'admin/generic/list/list.html' %}
        </div>
    </div>
</div>
<div class="content__foot">
    <div class="content__inner content-foot">
        <div class="content-foot__left">
            {% include 'admin/generic/pagination.html' %}
        </div>
        <div class="content-foot__right"></div>
    </div>
</div>
{% endblock page_content %}
