{% extends "admin/page.html" %}{% load i18n admin_toolbar_tags %}
{% block title %}
    {{verbose_name}}
{% endblock title %}

{% block body_class %}
    {% if template_type == "centered" %}content-centered{% endif %}
{% endblock body_class %}

{% block toolbar %}
    {% toolbar_action_button app_label model_name "add" "Add item" %}
    <span class="toolbar__title">{{verbose_name}}</span>
{% endblock toolbar %}

{% block page_content %}
<div class="content__list">
    {% include 'admin/generic/utils/head-filter.html' %}
    {% include 'admin/generic/list/list.html' %}
</div>
{% endblock page_content %}
