{% extends 'admin/generic/page_fluid.html' %}
{% load i18n admin_tags %}

{% block page_content_inner %}
    <table class="table table--clickable">
        <tr class="table-row">
            {% for column in column_headers %}
                <th class="table-head-cell">{{column}}</th>
            {% endfor %}
        </tr>
        {% for object in object_list %}
            <tr>
                {% for column in columns %}
                    {% render_column column %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% include 'admin/includes/pagination.html' %}
{% endblock %}
