{% load i18n admin_list_tags %}
<table class="table table--clickable table--admin-mobile-view">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{column.0}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr onclick="window.location = '{% get_admin_url app_label model_name object %}'">
        {% for column in columns %}
            {% render_column column %}
        {% endfor %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="{{columns|length}}">{% trans "No items." %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'admin/generic/pagination.html' %}
