{% load i18n admin_list_tags %}
{% if actions %}
<form action="" method="post">
    {% csrf_token %}
    <div class="head-bar head-bar--actions">
        {% for field in actions.form %}
            {% include "admin/generic/form/form_group.html" %}
        {% endfor %}
        <input type="submit" value="{% trans "Go" %}" class="btn btn--primary btn--transparent">
    </div>
{% endif %}
<table class="table table--clickable table--admin-mobile-view table--loading">
    <thead>
        <tr>
            {% if actions %}
                <th class="action-column">
                    <button type="button" class="btn btn--transparent btn--small tooltip tooltip--top-left" onclick="toggleCheckboxes()" data-tooltip="Select All / None">
                        <span class="fa fa-check"></span>
                    </button>
                </th>
            {% endif %}
            {% for column in columns %}
                <th>{{column.0}}</th>
            {% endfor %}
            {% if row_actions %}
            <th class="text-right"><span class="sr-only">{% trans "Actions" %}</span></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr onclick="window.location = '{% get_admin_url app_label model_name row_click_action object %}'">
        {% if actions %}
            <td onclick="event.stopPropagation()" class="action-column">
                <input type="checkbox" name="action_items" value="{{object.id}}">
            </td>
        {% endif %}
        {% for column in columns %}
            {% render_column column %}
        {% endfor %}
        {% if row_actions %}
        <td class="text-right">
            {% for action in row_actions %}
                {% if action == "view" %}
                    <a href="{% get_admin_url app_label model_name "detail" object %}" class="btn btn--small btn--primary">{% trans "View" %}</a>
                {% elif action == "delete" %}
                    <a href="{% get_admin_url app_label model_name "delete" object %}" class="btn btn--small btn--delete">{% trans "Delete" %}</a>
                {% elif action == "update" %}
                    <a href="{% get_admin_url app_label model_name "update" object %}" class="btn btn--small btn--change">{% trans "Update" %}</a>
                {% endif %}
            {% endfor %}


        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="{{columns|length}}">{% trans "No items." %}</td>
        {% if actions %}
        <td></td>
        {% endif %}
        {% if row_actions %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if actions %}
</form>
{% endif %}
{% include 'admin/generic/pagination.html' %}
{% if actions %}
<script>
function toggleCheckboxes(toggleCheckbox){
    var checkboxes = document.querySelectorAll("[name=action_items]")
    var allChecked = Array.prototype.every.call(checkboxes, function(item){ return item.checked })
    if (allChecked) {
        checkboxes.forEach(function(item){ item.checked = false })
        toggleCheckbox.checked = false
    } else {
        checkboxes.forEach(function(item){ item.checked = true })
        toggleCheckbox.checked = true
    }
}
</script>
{% endif %}
